.body {
    background-color: pink;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.list {
    list-style: none;
}

.pictures-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: bisque;
    border: 2px solid rgb(179, 87, 103);
    width: 80vw;
    margin-right: auto; 
    margin-left: auto;
}

.pictures-item {
    margin: 10px;
}